@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


body{
  font-family: "Roboto", serif;
}

.color-display{
  width: 100px;
  height: 25px;
  border: 5px solid hsl(0, 0%, 80%);
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 14px;
  text-align: center;
}

@media print {
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  @page {
    size: auto;
    margin: 0mm;
  }

  #customers td, #customers th {
    border: none;
    padding: 8px;
    text-align: left;
  }

  #customers thead {
    display: none;
  }

  .tdoneaction, .print-button {
    display: none;
  }

  .fixedhgt {
    height: 40px !important;
    position: fixed;
  }

  .tdonefirst, .tdonesecond, .tdonethree,
  .tdonefour, .tdonefive, .tdonesix {
    font-size: 14px;
    padding: 8px;
    text-align: center;
  }

  #customers tr {
    page-break-inside: avoid;
  }
}
